.modal-overlay {
  @apply fixed top-0 bottom-0 left-0 right-0 flex items-center justify-center z-20;
}

.modal-container {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @apply w-full max-w-screen-md fixed z-30;
}

.modal {
  @apply relative bg-white px-10 py-16 rounded-md shadow-lg mx-6;
}
