.slide-enter {
  opacity: 0;

  > div {
    transform: translateX(30%);
  }
}

.slide-enter.slide-enter-active {
  opacity: 1;
  transition: all 0.25s ease-out;

  > div {
    transition: all 0.25s ease-out;
    transform: translateX(0);
  }
}

.slide-exit {
  opacity: 1;

  > div {
    transform: translateX(0);
  }
}

.slide-exit.slide-exit-active {
  opacity: 0;
  transition: all 0.25s ease-in;

  > div {
    transition: all 0.25s ease-in;
    transform: translateX(30%);
  }
}
