#slide-content-root {
  @apply relative z-30;
}

.slide-enter {
  opacity: 0;
  z-index: 100;
  .slide-content {
    transform: translateX(30%);
  }
}

.slide-enter.slide-enter-active {
  opacity: 1;
  transition: all 0.25s ease-out;

  .slide-content {
    transition: all 0.25s ease-out;
    transform: translateX(0);
  }
}

.slide-exit {
  opacity: 1;

  .slide-content {
    transform: translateX(0);
  }
}

.slide-exit.slide-exit-active {
  opacity: 0;
  transition: all 0.25s ease-in;

  .slide-content {
    transition: all 0.25s ease-in;
    transform: translateX(30%);
  }
}

.slide-content-overlay {
  @apply fixed top-0 bottom-0 left-0 right-0 flex items-center justify-center z-20 w-full;
}

.slide-content {
  transition: all 0.25s;
  @apply fixed right-0 top-0 bottom-0 bg-white px-6 py-20 w-full max-w-6xl shadow-2xl overflow-auto z-30;
}
